*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
   
    text-decoration: none;
}
ul li{
    display: inline-table;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    background-color: rgb(221, 30, 30);
    border-radius: 25px;
    margin-top: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
ul li:hover{
     background-color: rgb(53, 151, 151);
     color: goldenrod;
     cursor: pointer;
     border-radius: 25px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     -ms-border-radius: 25px;
     -o-border-radius: 25px;
}
.active{
    background-color: rgb(47, 121, 121);
    color: black;

    display: inline-table;
 
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
  
    border-radius: 25px;

}
.active:hover{
    background-color: rgb(151, 207, 207);
    color: goldenrod;
    cursor: pointer;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px; 
}

a{
    color: rgb(26, 212, 212);
}

.new{
    height: 150px;
    text-align: center;
    background-color: rgb(165, 68, 68);
    color:rgb(46, 44, 44);
    justify-content: center;
 
}
/*editing profile container*/
.field{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: #4d494912;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    color: black;
    
}
marquee{
  color: red; 
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
ol li{
    display: block;
    margin-bottom:2px ;
   
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    background-color: gray;
    border-radius: 10px;
   
}

ol li:hover{
    background-color: rgb(53, 151, 151);
    color: goldenrod;
    cursor: pointer;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.pi{
    
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(248, 152, 168);
    margin-top: 5px;
  }
  /*editting profile image*/
  img{
    width: 150px;
    height: 150px;
    border-radius:50% ;
    object-fit: fill;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
/*editting contact table */
table{
    background-color: rgb(202, 29, 29);
    box-shadow: 1px 1px 1px 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    

}
/*editting contact table column*/
th{
    background-color: bisque;
    box-shadow: 1px 1px 1px 1px; 
}
/*editting contact table row*/
td{
    margin-right: 10px;
    box-shadow: 1px 1px 1px 1px;
    background-color: bisque;
    font-size:larger ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}
/*editting court paragraph*/
.pii{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(45, 150, 192);
}
/*editting court header*/
.hi{
    
    background-color: rgb(202, 29, 29);
    color: rgb(93, 202, 166);
    box-shadow: 1px 1px 1px 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
       
     
}
h4{
    background-color: rgb(70, 56, 56);
    color: goldenrod;

}
.color{
    background-color: rgb(202, 29, 29);
    color: rgb(93, 202, 166);
    box-shadow: 1px 1px 1px 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    float: left;
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    margin-right: 10px;
}
.newcolor{
    background-color: rgb(202, 29, 29);
    color: rgb(93, 202, 166);
    box-shadow: 1px 1px 1px 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-100%, -100%);
    z-index: 700;
    float:left;
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
}
